@import "../../scss/theme";
@import "../../scss/layout";
@import "../../scss/animationBtnNavBar";

.header{
  background-color: $secondaryColor;
  height: $header-height;
  flex-direction: column;

  .desktop{
    padding: $paddingSimple;
    width: 100%;
    justify-content: start;
    align-items: center;

    .icon{
      @include buttonNavBar;
      padding-right: $paddingSimple;

    }
    .navbar{
      display: none;
    }
  }

  .mobile{
    display: none;
    flex-direction: column;
    position: relative;

    a{
      &.item-mobile{
      justify-content: center;
      align-items:center;
      @include fontSize-mobile;
      color: $secondaryColor;
      background-color: $lightGrey;
      border-bottom: $simpleBorder;
      cursor: pointer;
      text-decoration: none;
      width: 100%;

      }
    }

    .item-mobile{
      .author-item-mobile{
        justify-content: center;
        align-items:center;
        @include fontSize-mobile;
        border-bottom: $simpleBorder;
        background-color: $lightGrey;
        height: 40px;
        width: 100%;
        cursor: pointer;

        &.hide{
          display:none;
        }
      }
      .author-list-mobile{
        display:none;
        width:100%;
        flex-direction: row;

        a{
          cursor: pointer;
          text-decoration: none;
          color: $secondaryColor;

        }
        &.show{
          display:flex;
          flex-direction: column;

        }
      }
      &.hide{
        display:none;

      }
    }
    &.active{
      display: flex;

    }
  }
}

// css display tablet

@media (min-width: $breakpoint-mobile) {

  .header{
    .desktop{
      position: relative;
      height: 100%;
      justify-content: center;

      .icon{
        display: none;
      }

      .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        >.container{
          align-items: center;
          justify-content: center;
          width:200px;
          height:100%;
          flex-direction:column;
          overflow-y: hidden;
          position:relative;
          a{
            text-decoration:none;
            color:$textColor;
          }

          .item{
            cursor: pointer;
            align-items: center;
            justify-content: center;
            height: 40px;
          }

          >.item{
            height:100%;
            width:100%;
            font-size: 2vw;
            >.switch{
              width: 100%;
              justify-content: center;
              align-items: center;
            }
          }
          &:after{
            content:'';
            display: block;
            width: 10%;
            height: 5px;
            background: $textColor;
            transition: width .3s;

          }
          &:hover{
            &:after{
              width:50%;
            }
          }
          >a{
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $textColor;
          }

          >.list-item{
            display:none;
            position:absolute;
            top:100%;
            flex-direction:column;
            background-color: $secondaryColor;
            width:100%;
            

            >.item{
              border-bottom: $simpleBorder;
              text-decoration:none;
              font-size: 3vw;
            }
          }
          &.show{
            >.list-item{
              display:flex;
            }
            overflow-y:visible; 
          }
          
        }
      }
    }
    .mobile{
      display: none;
    }
  }
}

// css display desktop
@media (min-width: $breakpoint-tablet) {

  .header{
    .desktop{
      .navbar{
        >.container{
          >.list-item{
            >.item{
              font-size: 2vw;
            }
          }
        }
      }
    }
  }
}