$textColor: rgb(255, 64, 0);

$primaryDarkColor: rgb(3, 13, 39);
$secondaryDarkColor: rgb(18, 33, 70);

$primaryLightColor: rgb(250, 170, 141);
$secondaryLightColor: rgb(254, 239, 221);

$simpleBorder: solid 1px $textColor;
$doubleBorder: solid 2px $textColor;

$paddingSimple: 10px;
$paddingDouble: 20px;

$round-size-small: 10px;
$round-size-big: 20px;

@mixin fontSize-mobile {
  font-size: 4vw;
}

@mixin fontSize-tablet {
  font-size: 1.5vw;
}

@mixin fontSize-desktop {
  font-size: .8vw;
}

@mixin icon-mobile {
  i{
    color: $secondaryDarkColor;
    .fa-2x {
      font-size: 6vw;
    }
  }
  
}

@mixin icon-tablet {
  i{
    color: $secondaryDarkColor;
    .fa-2x {
      font-size: 6vw;
    }
  }
}

@mixin icon-desktop {
  color: $secondaryDarkColor;
  .fa-2x {
    font-size: 3vw;
  }
}
